<table class="table">
	<thead>
		<tr>
			<th class="col-md-8">
				<h1><%= @stairway.name %></h1>
				<h4><%= @stairway.description %></h4>
				<div class="label label-default">Organized by <%= @stairway.user.name %></div>
			</th>
			<th class="col-md-4">
			</th>
		</tr>
	</thead>
</table>