<p id="notice"><%= params[:notice] %></p>

<%= render 'profile_header' %>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Perfil", controller: "users", action: "show", id: @user.server_id %></li>
  <li role="presentation" class="active"><a href="#">Mensajes</a></li>
</ul>
<%= render 'publish_comment' %>