<p id="notice"><%= params[:notice] %></p>

<%= render 'profile_header' %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Perfil</a></li>
  <li role="presentation"><%= link_to "Mensajes", controller: "users", action: "publish_comment_show", id: @user.server_id %></li>
</ul>
<%= render 'friend_songs' %>