/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
body { padding-top: 5px; }
.btn-link {  padding: 0px; vertical-align: baseline; margin-top: -2px; }
.btn-default {  vertical-align: baseline; margin-top: -6px; margin-right: 3px; }
.btn-primary {  vertical-align: baseline; margin-top: -6px; margin-right: 3px; }
.thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}
.container_profile{
  padding-top: 8px;
}
.image { @include size(250px, 200px); }
.image_user { @include size(150px, 150px); }
.image_user_profile { @include size(135px, 135px); }
.image_user_small { @include size(50px, 50px); }
$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}
.alert-dismissible{
  margin-top:10px;
  margin-bottom:-5px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #eeeeee;
}
.hr-primary {
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
  margin-top: -5px;
  height: 4px;
  margin-bottom: -3px;
}
.navbar{
  border-color: #FFE900
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #f5f5f5;
}
.footer > .container {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.background { @include gradient-vertical($start-color: rgba(1,1,1,.5), $end-color: rgba(255,255,255,.5));}
.leaguecell{
  width: 82px;
}
.leaguecellname{
  width: 40px;
}
.profile{
  @media screen and (min-width: 992px) {
      position:fixed;
      padding-right:10px;
  }
  padding-left:20px;
  padding-right:20px;
  width: 200px;
}
.thumbnail2 {
    position:absolute;
    padding:0px;
    margin-right:0px;
}
.panel {
  position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}