/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
body { padding-top: 10px; }
.btn-link {  padding: 0px; vertical-align: baseline; margin-top: -2px; }
.btn-default {  vertical-align: baseline; margin-top: -6px; margin-right: 3px; }
.btn-primary {  vertical-align: baseline; margin-top: -6px; margin-right: 3px; }

.image { @include size(250px, 200px); }
.image_user { @include size(150px, 150px); }
.image_user_profile { @include size(135px, 135px); }
.image_user_small { @include size(50px, 50px); }

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #eeeeee;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.footer > .container {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.background { @include gradient-vertical($start-color: rgba(1,1,1,.5), $end-color: rgba(255,255,255,.5));}
.leaguecell{
  width: 82px;
}
.leaguecellname{
  width: 40px;
}
.profile{
  @media screen and (min-width: 992px) {
      position:fixed;
  }
  width: 200px;
}